.docs {
    padding: 40px 0;
    box-sizing: border-box;
    // .docs__title

    &__title {
        margin-bottom: 40px;
        h2 {
            margin: 0;
            font-size: 18px;
            color: $black;
        }
    }

    // .docs__slider

    &__slider {
        position: relative;

    }

    // .docs__navigation

    &__navigation {
        button {
            position: absolute;
            top: 0;
            background-color: transparent;
            z-index: 10;
            border: none;
            cursor: pointer;
            top: 50%;
            &.prev-el {
                left: 5px;
                
            }
            &.next-el {
                right: 5px;
                svg {
                    transform: rotate(180deg);
                }
            }
            &:hover {
                svg {
                    rect {
                        fill: $blue;
                    }

                    path {
                        stroke: $white;
                    }
                }
            }

            svg {
                width: 44px;
                height: 44px;

                rect {
                    fill: #fff;
                    transition: .35s ease;
                }

                path {
                    stroke: $black;
                    transition: .35s ease;
                }
            }
        }
    }

    // .docs__slider-swiper

    &__slider-swiper {
    }

    // .docs__slider-wrapper

    &__slider-wrapper {
    }

    // .docs__slider-slide

    &__slider-slide {
        img {
            width: 100%;
            box-sizing: border-box;
        }
    }
}

@media(max-width:920px) {
    .docs {
        &__navigation {
            display: none;
        }
    }
}

@media(max-width:768px) {
    .docs {
        &__slider-swiper {
            margin: 0 -15px;
            padding-left: 15px;
        }
    }
}