.edge {
    padding: 50px 0;
    box-sizing: border-box;
    // .edge__wrap

    &__wrap {
        display: flex;
        box-sizing: border-box;
        margin: 0 -5px;
        align-items: stretch;

    }

    // .edge__item

    &__item {
        box-sizing: border-box;
        display: flex;
        height: auto;
        align-items: flex-start;
        padding: 15px;
        background-color: #fff;
        border-radius: 6px;
        .img {
            padding: 10px;
            padding: 6px;
            background-color: $graywhite;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 25px;
            
            img {
                width: 24px;
                height: 24px;
                display: block;
                box-sizing: border-box;
            }
        }
        .text {
            h2 {
                margin: 0;
                font-size: 16px;
                font-weight: 500;
                color: $black;
                margin-bottom: 15px;
            }
            p {
                margin: 0;
                display: block;
                font-weight: 300;
                color: $black;
            }
        }
    }
}

@media(max-width:1200px) {
    .edge {
        &__swiper {
            margin: 0 -15px;
            padding-left: 15px;
        }
    }
}